<%# Path: app/views/trades/_form.html.erb %>

<%= form_with(model: trade) do |f| %>
  <% if trade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
        <% trade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="autocomplete" data-autocomplete-url-value="http://localhost:5001/api/search_players">
    <%= f.label :player_id, "Player" %>

    <%# This is the visible text field for searching. It is not tied to the model. %>
    <%= text_field_tag :player_search,
                       "",
                       data: { autocomplete_target: "input", action: "input->autocomplete#search" },
                       placeholder: "Type a player name..." %>

    <%# This is the hidden field that will store the selected player's ID and be submitted with the form. %>
    <%= f.hidden_field :player_id, data: { autocomplete_target: "hidden" } %>

    <%# This ul will be populated with search results. %>
    <ul data-autocomplete-target="results"></ul>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
